@import "./_variables";
@import "./_utilities";

.section-projects {
  position: relative;
  background-color: #dbdbdb;
  height: fit-content;
  text-align: center;
  padding: 4rem 0rem;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.project-heading {
  font-weight: 700;
}

.project-subheading {
  font-weight: 300;
}

.project-img {
  width: 75%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  &:hover {
  }
}

.project-description {
  width: 33%;
  text-align: left;
  color: $color-grey;
  font-weight: 300;
}

.project-doc--icons-container {
  display: flex;
  gap: 1rem;
}

.project-doc--icon {
  height: 1.2rem;
}
